<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{env('APP_NAME')}}</title>
    <link rel="icon" href="/images/laura-icone-32x32.png" sizes="32x32" />
    <link rel="icon" href="/images/laura-icone-192x192.png" sizes="192x192" />
    <link rel="stylesheet" href="{{mix('/css/main.css')}}">
    <script>
        window['app'] = {
            csrf_token: '{{ csrfToken }}',
        };
    </script>
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="{{mix('/js/main.js')}}"></script>
</body>
</html>