@import '~startbootstrap-sb-admin-2/css/sb-admin-2.css';


.btn-orange {
    color: #fff;
    background-color: #faa61c;
    border-color: #E09419;
}

.btn-orange:hover {
    color: #fff;
    background-color: #E09419;
    border-color: #faa61c;
}